<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="PolleriaDB" connectionString="Server=14TCN-3-305PC11\BRANDONV;Database=PolleriaPechugon;Trusted_Connection=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>